.container-footer{
  height: 200px;
  margin: auto;
  display: block;
  background-color: #2c2b2b;
  text-align: center;
  color: grey;
}

.links i{
  color: #1EDD88;
  font-size: 30px;
  padding-top: 50px;
}
